---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <h2>About Raoul</h2>
    <p>Raoul is a motivated and curious learner based in Dubai. As a student of Dubai International Academy, he balances academics with diverse passions like cooking, sports, and languages.</p>
</Layout>